<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Admin Board</span>
            </div>
            <div class="h1 mt-16">Permission</div>
        </div>

        <!-- <div class="search-div">
            <button mat-raised-button class="search-form-field">
                <mat-icon>add</mat-icon>Role
            </button>
            <mat-form-field class="search-form-field" floatLabel="never">
                <input
                    matInput
                    [(ngModel)]="searchKey"
                    placeholder="Search"
                    autocomplete="off"
                    (keyup)="applyFilter()"
                />
                <button
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    *ngIf="searchKey"
                    (click)="onSearchClear()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div> -->
    </div>
    <!-- / HEADER -->
    <!-- Body -->
    <div style="overflow-x: auto;">
        <table>
            <tr>
                <th>Roles/Permissions</th>
                <th *ngFor="let item of permissions">{{ item }}</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let item of permission_role; index as i">
                <td>{{ item.role }}</td>
                <th *ngFor="let i of item.permission">
                    <mat-checkbox
                        [(ngModel)]="i.checked"
                        class="example-margin"
                    ></mat-checkbox>
                </th>
                <td>
                    <button mat-icon-button style="color: primary;">
                        <mat-icon (click)="save(i)">save</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- / Body -->
</div>
