<form
    class="mat-card mat-elevation-z4 p-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="1 0 auto"
    name="form"
    [formGroup]="form"
>
    <div class="h2 mb-24" *ngIf="data['type'] == 'edit'">Edit User</div>
    <div class="h2 mb-24" *ngIf="data['type'] == 'create'">Create User</div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Company (disabled)</mat-label>
            <input matInput formControlName="company" />
            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />

            <mat-error>Name is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" required />
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error>Email is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                formControlName="password"
                required
            />
            <mat-error>Password is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age" required />
            <mat-error>age is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Role</mat-label>
            <select
                matNativeControl
                required
                style="padding: 0 auto;"
                formControlName="roles"
            >
                <option *ngFor="let state of roles1" [ngValue]="state.role">
                    {{ state.role }}
                </option>
            </select>

            <mat-error>Role is required!</mat-error>
        </mat-form-field>
    </div>
    <input
        type="file"
        #file
        placeholder="Choose file"
        (change)="uploadFile(file.files)"
        style="display: none;"
    />

    <button
        mat-raised-button
        color="accent"
        (click)="file.click()"
        fxFlex="30"
        style="margin-left: 20px;"
    >
        Upload Image
    </button>
    <a class="forgot-password">
        {{ error }}
    </a>
    <br />
    <br />
    <div
        fxLayout="row"
        fxFlex="1 0 auto"
        fxLayoutAlign="center"
        style="padding-top: 30px;"
    >
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 10px;"
            (click)="onClick()"
        >
            Save
        </button>
        <button
            mat-raised-button
            fxFlex="30"
            style="margin-left: 10px;"
            color="primary"
            (click)="close()"
        >
            cancel
        </button>
    </div>
</form>
