<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Report Board</span>
            </div>
            <div class="h1 mt-16">Send Report</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div
            class="mb-24"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-md="row"
        >
            <!-- REACTIVE FORM EXAMPLE -->

            <form
                class="mat-card mat-elevation-z4 p-24 mr-24"
                fxLayout="column"
                fxLayoutAlign="start"
                fxFlex="1 0 auto"
                name="form"
                [formGroup]="form"
            >
                <div class="h2 mb-24">Create Report</div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Company (disabled)</mat-label>
                        <input matInput formControlName="company" />
                        <mat-icon matSuffix class="disabled-text"
                            >domain</mat-icon
                        >
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="100"
                        class="pr-4"
                    >
                        <mat-label>Report title</mat-label>
                        <input matInput formControlName="report" required />

                        <mat-error>report title is required!</mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Description</mat-label>
                        <textarea
                            matInput
                            formControlName="description"
                            required
                        >
                        </textarea>
                        <mat-error>Description is required!</mat-error>
                    </mat-form-field>
                </div>
                <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Type</mat-label>
                        <select
                            matNativeControl
                            required
                            style="padding: 0 auto;"
                            formControlName="type"
                        >
                            <option value="Red Flags">Red Flags</option>
                            <option value="Green Flags">Green Flags</option>
                            <option value="Open Issue">Open Issue</option>
                        </select>
                        <mat-error>Type is required!</mat-error>
                    </mat-form-field>
                </div>
                <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Sending to</mat-label>
                        <select
                            matNativeControl
                            required
                            style="padding: 0 auto;"
                            formControlName="reciverid"
                        >
                            <option
                                *ngFor="let item of users"
                                value="{{ item.id }}"
                                >{{ item.name }}</option
                            >
                        </select>
                        <mat-error>reciver is required!</mat-error>
                    </mat-form-field>
                </div>

                <a class="forgot-password">
                    {{ error }}
                </a>
                <br />
                <br />
                <button mat-raised-button color="primary" (click)="onClick()">
                    Save
                </button>
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <!-- <div class="mat-card form-errors-model p-24 mat-elevation-z4">
                <div class="h2 mb-24">Reactive Form Model</div>
                <pre><code>{{form.getRawValue() | json}}</code></pre>
            </div> -->
        </div>
    </div>
    <!-- / CONTENT -->
</div>
