<div class="container">
    <div class="timeline">
        <div class="timeline-month" style="color: white;">
            {{ n }}, {{ d.getFullYear() }}
            <span style="color: white; background-color: #039be5;"
                >{{ entries }} Days</span
            >
        </div>
        <button
            mat-button
            color="primary"
            matDialogClose
            style="
                position: absolute;

                right: -5px;
            "
        >
            Dismiss
        </button>
        <div class="timeline-section" *ngFor="let item of groups | keyvalue">
            <div class="timeline-date" style="color: white;">
                {{ item.key | date: "dd" }}, {{ item.key | date: "E" }}
            </div>

            <div class="row" *ngFor="let nitem of item.value">
                <div class="col-sm-4">
                    <div class="timeline-box">
                        <div class="box-title" style="color: white;">
                            <i
                                class="fa fa-asterisk text-success"
                                aria-hidden="true"
                            ></i>
                            {{ nitem.entity }}
                        </div>
                        <div class="box-content">
                            <div class="box-item">
                                <strong>Action Type : {{ nitem.type }}</strong>
                            </div>
                            <div class="box-item">
                                <strong>By : {{ nitem.user }} </strong>
                            </div>
                            <div class="box-item">
                                <strong
                                    >Hour :
                                    {{ nitem.date | date: "hh:mm" }}</strong
                                >
                            </div>
                        </div>
                        <div class="box-footer" style="color: white;">
                            -{{ nitem.user }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
