<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-sm-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                    >Reports</span
                >
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper ml-sm-32">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        (keyup)="search(filter)"
                        placeholder="Search for a report"
                        [(ngModel)]="searchKey"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="orders-table"
                #table
                [dataSource]="dataSource"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="report">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Title</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.report }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Description</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.description }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="senderid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Sender</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ getUsername(order.senderid) }}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Date</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.date | date: "medium" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >type</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p
                            class="text-truncate"
                            *ngIf="order.type == 'Open Issue'"
                            style="color: burlywood;"
                        >
                            {{ order.type }}
                        </p>
                        <p
                            class="text-truncate"
                            *ngIf="order.type == 'Red Flags'"
                            style="color: red;"
                        >
                            {{ order.type }}
                        </p>
                        <p
                            class="text-truncate"
                            *ngIf="order.type == 'Green Flags'"
                            style="color: green;"
                        >
                            {{ order.type }}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Action</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            button
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let order; columns: displayedColumns"
                    class="order"
                    matRipple
                >
                </mat-row>
            </mat-table>
            <mat-paginator
                [pageSizeOptions]="[5, 25, 100]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
