<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-sm-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-mini-fab
                    color="white"
                    (click)="create()"
                    style="margin-right: 10px; size: 10px;"
                >
                    <mat-icon style="color: blue; size: 5px;">add</mat-icon>
                </button>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                    >Teams</span
                >
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper ml-sm-32">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        (keyup)="search(filter)"
                        placeholder="Search for a team"
                        [(ngModel)]="searchKey"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="orders-table"
                #table
                [dataSource]="dataSource"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.name }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Reference Column -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Description</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{ order.description }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Number</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.number }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Price Column -->
                <ng-container matColumnDef="Members">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-md
                        >Members</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-md>
                        <p class="total-price text-truncate">
                            <button
                                mat-button
                                color="primary"
                                routerLink="/apps/team/member/{{ order.id }}"
                            >
                                Members
                            </button>
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Column -->
                <ng-container matColumnDef="Actions">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Actions</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="delete(order.id)"
                            >
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                color="primary"
                                (click)="edit(order.id)"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <a (click)="shadow(order.id)">
                                <mat-icon style="cursor: pointer;"
                                    >history</mat-icon
                                >
                            </a>
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="Departement">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Departement</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="status text-truncate h6 p-4">
                            {{ order.departement }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="Image">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Image</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <div *ngIf="order.image" class="friend" fxFlex="50">
                            <img
                                src="http://localhost:4000/{{ order.image }}"
                            />
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let order; columns: displayedColumns"
                    class="order"
                    matRipple
                >
                </mat-row>
            </mat-table>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
