body {
    background: rgba(0, 0, 0, 0.9);
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed #3e95dd;
}
form p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #3e95dd;
    font-family: Arial;
}
form input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
form button {
    margin: 0;
    color: #fff;
    background: #3e95dd;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #3e95dd;
    transition: all 0.2s ease;
    outline: none;
}
form button:hover {
    background: #149174;
    color: #0c5645;
}
form button:active {
    border: 0;
}
