<!-- CONTENT -->
<!-- <div class="content p-24">
    <div
        class="mb-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxLayout.gt-md="row"
    > -->
<!-- REACTIVE FORM EXAMPLE -->

<form
    class="mat-card mat-elevation-z4 p-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="1 0 auto"
    name="form"
    [formGroup]="form"
>
    <div class="h2 mb-24">Edit Role</div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Company (disabled)</mat-label>
            <input matInput formControlName="company" />
            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Role title</mat-label>
            <input matInput formControlName="role" required />

            <mat-error>Role title is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required>
            </textarea>
            <mat-error>Description is required!</mat-error>
        </mat-form-field>
    </div>
    <a class="forgot-password">
        {{ error }}
    </a>
    <br />
    <br />
    <div
        fxLayout="row"
        fxFlex="1 0 auto"
        fxLayoutAlign="center"
        style="padding-top: 30px;"
    >
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 10px;"
            (click)="onClick()"
        >
            Save
        </button>
        <button
            mat-raised-button
            fxFlex="30"
            style="margin-left: 10px;"
            color="primary"
            (click)="close()"
        >
            cancel
        </button>
    </div>
</form>

<!-- / REACTIVE FORM EXAMPLE -->

<!-- <div class="mat-card form-errors-model p-24 mat-elevation-z4">
            <div class="h2 mb-24">Reactive Form Model</div>
            <pre><code>{{form.getRawValue() | json}}</code></pre>
        </div> -->
<!-- </div>
</div> -->
<!-- / CONTENT -->
