<form
    class="mat-card mat-elevation-z4 p-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="1 0 auto"
    name="form"
    [formGroup]="form"
>
    <div class="h2 mb-24" *ngIf="data['type'] == 'edit'">Edit Expectation</div>
    <div class="h2 mb-24" *ngIf="data['type'] == 'create'">
        Create Expectation
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Customer Expectation</mat-label>
            <input matInput formControlName="customerexpectation" />
            <mat-error>Customer Expectation is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Priority</mat-label>
            <input matInput formControlName="priority" required />

            <mat-error>Priority is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Due Date</mat-label>
            <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                required
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Project</mat-label>
            <select
                matNativeControl
                required
                style="padding: 0 auto;"
                formControlName="projected"
            >
                <option *ngFor="let item of projects" value="{{ item.id }}">{{
                    item.title
                }}</option>
            </select>
            <mat-error>Project is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Source</mat-label>
            <textarea matInput formControlName="source" required> </textarea>
            <mat-error>Source is required!</mat-error>
        </mat-form-field>
    </div>
    <a class="forgot-password">
        {{ error }}
    </a>
    <br />
    <br />
    <div
        fxLayout="row"
        fxFlex="1 0 auto"
        fxLayoutAlign="center"
        style="padding-top: 30px;"
    >
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 10px;"
            (click)="onClick()"
        >
            Save
        </button>
        <button
            mat-raised-button
            fxFlex="30"
            style="margin-left: 10px;"
            color="primary"
            (click)="close()"
        >
            cancel
        </button>
    </div>
</form>
