<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Teams Board</span>
            </div>
            <div class="h1 mt-16">
                TEAM
            </div>
            <br />
            <button mat-mini-fab color="white" (click)="add()">
                <mat-icon style="color: blue; size: 5px;">add</mat-icon>
            </button>
        </div>
        <form
            class="a1"
            [ngClass]="{
                nc: searchKey.length >= 1
            }"
            action=""
        >
            <input
                class="a2"
                type="search"
                placeholder="Search"
                [(ngModel)]="searchKey"
                (keyup)="search()"
                name="searchKey"
                [ngClass]="{
                    ns: searchKey.length >= 1
                }"
                autocomplete="off"
            />
            <mat-icon class="fa fa-search" *ngIf="searchKey.length == 0"
                >search</mat-icon
            >
            <mat-icon
                class="fa fa-search"
                (click)="vider()"
                *ngIf="searchKey.length > 0"
                >close</mat-icon
            >
        </form>
    </div>
    <!-- Body -->
    <div class="box">
        <div class="card" *ngFor="let item of Users">
            <div class="imgBx">
                <img
                    src="http://localhost:4000/{{ item.image }}"
                    alt="images"
                />
            </div>
            <div class="details">
                <h2 style="color: dodgerblue;">
                    {{ item.name }} <br />
                    <a
                        ><mat-icon style="cursor: pointer;">details</mat-icon>
                    </a>
                    <a (click)="delete(item.id)"
                        ><mat-icon style="cursor: pointer;">minimize</mat-icon>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
