<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- CONTENT -->

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Name</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.name
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Last Name</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.lastname
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Email</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.email
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Password</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.password
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Age</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{ element.age }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="roles">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Role</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.roles[0].title
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Image</mat-header-cell
                >
                <mat-cell *matCellDef="let element">
                    <div *ngIf="element.image" class="friend" fxFlex="20">
                        <img src="http://localhost:4000/{{ element.image }}" />
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="addmember(row.id)">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row
                *matFooterRowDef="['loading']"
                [ngClass]="{ hide: dataSource != null }"
            ></mat-footer-row>
            <mat-footer-row
                *matFooterRowDef="['noData']"
                [ngClass]="{
                    hide: !(dataSource != null && dataSource.data.length == 0)
                }"
            ></mat-footer-row>
        </mat-table>
        <mat-paginator
            [pageSizeOptions]="[12, 25, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </div>
    <div
        fxLayout="row"
        fxFlex="1 0 auto"
        fxLayoutAlign="center"
        style="padding-top: 30px;"
    >
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 10px;"
            (click)="onClick()"
        >
            Save
        </button>
        <button
            mat-raised-button
            fxFlex="30"
            style="margin-left: 10px;"
            color="primary"
            (click)="close()"
        >
            cancel
        </button>
    </div>
</div>
<!-- / CONTENT -->
