<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Admin Board</span>
            </div>
            <div class="h1 mt-16">Add Role</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="h1">
            Role
        </div>

        <p class="pt-16 pb-32">
            The role is responsible for designing, coding and modifying
            websites, from layout to function and according to a client's
            specifications. Strive to create visually appealing sites that
            feature user-friendly design and clear navigation.
        </p>

        <div
            class="mb-24"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-md="row"
        >
            <!-- REACTIVE FORM EXAMPLE -->

            <form
                class="mat-card mat-elevation-z4 p-24 mr-24"
                fxLayout="column"
                fxLayoutAlign="start"
                fxFlex="1 0 auto"
                name="form"
                [formGroup]="form"
            >
                <div class="h2 mb-24">Create Role</div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Company (disabled)</mat-label>
                        <input matInput formControlName="company" />
                        <mat-icon matSuffix class="disabled-text"
                            >domain</mat-icon
                        >
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        fxFlex="100"
                        class="pr-4"
                    >
                        <mat-label>Role title</mat-label>
                        <input matInput formControlName="role" required />

                        <mat-error>Role title is required!</mat-error>
                    </mat-form-field>
                </div>

                <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Description</mat-label>
                        <textarea
                            matInput
                            formControlName="description"
                            required
                        >
                        </textarea>
                        <mat-error>Description is required!</mat-error>
                    </mat-form-field>
                </div>
                <a class="forgot-password">
                    {{ error }}
                </a>
                <br />
                <br />
                <button mat-raised-button color="primary" (click)="onClick()">
                    Save
                </button>
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <!-- <div class="mat-card form-errors-model p-24 mat-elevation-z4">
                <div class="h2 mb-24">Reactive Form Model</div>
                <pre><code>{{form.getRawValue() | json}}</code></pre>
            </div> -->
        </div>
    </div>
    <!-- / CONTENT -->
</div>
