<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Projects Board</span>
            </div>
            <div class="h1 mt-16">Detaill Project</div>
        </div>
    </div>
    <div id="about" class="p-24" fxLayout="row wrap">
        <div
            class="about-content"
            fxLayout="column"
            fxFlex="100"
            fxFlex.gt-sm="50"
            fxFlex.gt-md="65"
        >
            <div class="profile-box info-box general" fxLayout="column">
                <header class="accent">
                    <div class="title">General Information</div>
                </header>

                <div class="content">
                    <div class="info-line">
                        <div class="title">Company</div>
                        <div class="info">{{ project.company }}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Project Title</div>
                        <div class="info">{{ project.Title }}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Project Overview</div>
                        <div class="info">{{ project.Projectoverview }}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Start Date</div>
                        <div class="info">
                            {{ project.Startdate | date: "dd/MM/yyyy" }}
                        </div>
                    </div>

                    <div class="info-line">
                        <div class="title">End Date</div>
                        <div class="info">
                            {{ project.Enddate | date: "dd/MM/yyyy" }}
                        </div>
                    </div>

                    <div class="info-line">
                        <div class="title"></div>
                        <div class="info" style="visibility: hidden;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis eget pharetra felis, sed ullamcorper dui.
                            Sed et elementum neque. Vestibulum pellente viverra
                            ultrices. Etiam justo augue, vehicula ac gravida a,
                            interdum sit amet nisl. Integer vitae nisi id nibh
                            dictum mollis in vitae tortor.
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="profile-box info-box work"
                fxLayout="column"
                *ngFor="let section of project.sections"
            >
                <header class="accent">
                    <div class="title">{{ section.sectionTitle }}</div>
                </header>

                <div class="content">
                    <div class="info-line">
                        <div class="title">Description</div>
                        <div class="info">{{ section.sectionDescription }}</div>
                    </div>

                    <div class="info-line" *ngFor="let field of section.Fields">
                        <div class="title">{{ field.Title }}</div>
                        <div class="info">{{ field.Value }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="about-sidebar"
            fxLayout="column"
            fxFlex="100"
            fxFlex.gt-sm="50"
            fxFlex.gt-md="35"
        >
            <div class="profile-box friends" fxLayout="column">
                <header
                    class="accent"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div class="title">Members</div>
                    <div class="more secondary-text">
                        <span>{{ this.Users.length }} member</span>
                    </div>
                </header>

                <div class="content" fxLayout="row wrap">
                    <div
                        class="friend"
                        fxFlex="20"
                        *ngFor="let friend of about"
                    >
                        <img [src]="friend.avatar" />
                    </div>
                    <div
                        class="friend"
                        fxFlex="30"
                        *ngFor="let member of Users"
                    >
                        <img src="http://localhost:4000/{{ member.image }}" />
                        {{ member.name }}
                    </div>
                </div>
            </div>
            <div class="profile-box groups" fxLayout="column">
                <header
                    class="accent"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div class="title">Kpis</div>
                    <div class="more secondary-text">
                        <span>{{ Kpis.length }} Kpi</span>
                    </div>
                </header>

                <div class="content">
                    <div
                        class="group"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div>
                                <div
                                    *ngFor="let item of Kpis; let index = index"
                                    class="name"
                                >
                                    <canvas
                                        *ngIf="Kpis[index].barChartData"
                                        baseChart
                                        [datasets]="Kpis[index].barChartData"
                                        [labels]="Kpis[index].barChartLabels"
                                        [options]="barChartOptions"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType"
                                    >
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-box groups" fxLayout="column">
                <header
                    class="accent"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div class="title">Resources</div>
                    <div class="more secondary-text">
                        <span>{{ project.resources.length }} resource</span>
                    </div>
                </header>

                <div class="content">
                    <div
                        class="group"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div>
                                <div
                                    *ngFor="let item of project.resources"
                                    class="name"
                                >
                                    {{ item.number }}
                                    {{ getresourcename(item.name) }} From
                                    {{ item.startdate | date: "dd/MM/yyyy" }} To
                                    {{ item.enddate | date: "dd/MM/yyyy" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-box groups" fxLayout="column">
                <header
                    class="accent"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div class="title">Expectations</div>
                    <div class="more secondary-text">
                        <span>{{ Expectations.length }} expectations</span>
                    </div>
                </header>

                <div class="content">
                    <div
                        class="group"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div>
                                <div
                                    *ngFor="let item of Expectations"
                                    class="name"
                                >
                                    <br />
                                    Customer Expectation:
                                    {{ item.customerexpectation }} <br />
                                    Priority: {{ item.priority }} <br />
                                    Date: {{ item.date | date: "dd/MM/yyyy" }}
                                    <br />
                                    Source: {{ item.source }} <br />
                                    ------------------------------------------------
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
