<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Project Board</span>
            </div>
            <div class="h1 mt-16">Projects</div>
        </div>
        <form
            class="a1"
            [ngClass]="{
                nc: searchKey.length >= 1
            }"
            action=""
        >
            <input
                class="a2"
                type="search"
                placeholder="Search"
                [(ngModel)]="searchKey"
                name="searchKey"
                [ngClass]="{
                    ns: searchKey.length >= 1
                }"
                autocomplete="off"
                (keyup)="applyFilter()"
            />
            <mat-icon class="fa fa-search" *ngIf="searchKey.length == 0"
                >search</mat-icon
            >
            <mat-icon
                class="fa fa-search"
                *ngIf="searchKey.length > 0"
                (click)="onSearchClear()"
                >close</mat-icon
            >
        </form>
    </div>
    <div class="box">
        <div *ngFor="let project of projects" class="card">
            <div class="imgBx">
                <img
                    src="http://localhost:4000/{{ project.image }}"
                    alt="images"
                />
            </div>
            <div class="details">
                <h2 style="color: dodgerblue;">
                    {{ project.title }}<br /><a
                        routerLink="/apps/project/edit/{{ project.id }}"
                        ><mat-icon>edit</mat-icon>
                    </a>
                    <a routerLink="/apps/project/about/{{ project.id }}"
                        ><mat-icon>details</mat-icon>
                    </a>
                    <a (click)="delete(project.id)">
                        <mat-icon style="cursor: pointer;">delete</mat-icon>
                    </a>
                    <a (click)="shadow(project.id)">
                        <mat-icon style="cursor: pointer;">history</mat-icon>
                    </a>
                    <a
                        *ngIf="project.templateId"
                        routerLink="/apps/scrumboard/boards/{{
                            project.templateId
                        }}"
                        ><mat-icon>assignment_turned_in</mat-icon>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
