<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Kpi Board</span>
            </div>
            <div class="h1 mt-16">
                Kpi
            </div>
            <br />
            <button mat-mini-fab color="white" (click)="create()">
                <mat-icon style="color: blue; size: 5px;">add</mat-icon>
            </button>
        </div>
        <form
            class="a1"
            [ngClass]="{
                nc: searchKey.length >= 1
            }"
            action=""
        >
            <input
                class="a2"
                type="search"
                placeholder="Search"
                [(ngModel)]="searchKey"
                name="searchKey"
                [ngClass]="{
                    ns: searchKey.length >= 1
                }"
                autocomplete="off"
                (keyup)="applyFilter()"
            />
            <mat-icon class="fa fa-search" *ngIf="searchKey.length == 0"
                >search</mat-icon
            >
            <mat-icon
                class="fa fa-search"
                *ngIf="searchKey.length > 0"
                (click)="onSearchClear()"
                >close</mat-icon
            >
        </form>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Kpi Name</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.name
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Description</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.description
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="target">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Target</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.target
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="kpivalue">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Kpi value</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.kpivalue
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="projected">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Project ID</mat-header-cell
                >
                <mat-cell *matCellDef="let element">{{
                    element.projected
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Company">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Company</mat-header-cell
                >
                <mat-cell *matCellDef="let element">Focus</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="editRole(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="warn"
                        (click)="deleteRole(row)"
                    >
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <a (click)="shadow(row.id)">
                        <mat-icon style="cursor: pointer;">history</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row
                *matFooterRowDef="['loading']"
                [ngClass]="{ hide: dataSource != null }"
            ></mat-footer-row>
            <mat-footer-row
                *matFooterRowDef="['noData']"
                [ngClass]="{
                    hide: !(dataSource != null && dataSource.data.length == 0)
                }"
            ></mat-footer-row>
        </mat-table>
        <mat-paginator
            [pageSizeOptions]="[12, 25, 100]"
            showFirstLastButtons
        ></mat-paginator>
    </div>

    <!-- / CONTENT -->
</div>
