<form
    class="mat-card mat-elevation-z4 p-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="1 0 auto"
    name="form"
    [formGroup]="form"
>
    <div class="h2 mb-24" *ngIf="data['type'] == 'edit'">Edit KPI</div>
    <div class="h2 mb-24" *ngIf="data['type'] == 'create'">Create KPI</div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Company (disabled)</mat-label>
            <input matInput formControlName="company" />
            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Kpi Name</mat-label>
            <input matInput formControlName="name" required />

            <mat-error>Kpi Name is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required>
            </textarea>
            <mat-error>Description is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Project</mat-label>
            <select
                matNativeControl
                required
                style="padding: 0 auto;"
                formControlName="projected"
            >
                <option *ngFor="let item of projects" value="{{ item.id }}">{{
                    item.title
                }}</option>
            </select>
            <mat-error>Project is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>Target</mat-label>
            <input matInput formControlName="target" required />

            <mat-error>Target is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
            <mat-label>KPI Value</mat-label>
            <input matInput formControlName="kpivalue" required />
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Formula</mat-label>
            <textarea matInput formControlName="formula" required> </textarea>
            <mat-error>Formula is required!</mat-error>
        </mat-form-field>
    </div>

    <div formArrayName="fields" style="display: block;">
        <div
            class="mat-card mat-elevation-z4 p-24 mr-24"
            fxLayout="column"
            fxLayoutAlign="start"
            *ngFor="let section of getfields(form); let i = index"
            [formGroupName]="i"
            style="margin-top: 20px;"
        >
            F{{ i + 1 }}
            <mat-form-field
                appearance="outline"
                fxFlex="20"
                style="margin-right: 10px; margin-left: 10px;"
            >
                <mat-label>Name</mat-label>
                <input matInput required formControlName="name" />
                <mat-error>Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field
                appearance="outline"
                fxFlex="60"
                style="margin-right: 10px; margin-left: 10px;"
            >
                <mat-label>Value</mat-label>
                <input matInput required formControlName="value" />
                <mat-error>Value is required!</mat-error>
            </mat-form-field>
            <button
                mat-raised-button
                color="warn"
                (click)="removefields(i)"
                fxFlex="15"
                style="margin-left: 10px; margin-top: 15px; height: 100%;"
            >
                Remove field
            </button>
            <!--  -->
        </div>
    </div>

    <a class="forgot-password">
        {{ error }}
    </a>
    <br />
    <br />
    <div
        fxLayout="row"
        fxFlex="1 0 auto"
        fxLayoutAlign="center"
        style="padding-top: 30px;"
    >
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 20px;"
            (click)="addfields()"
        >
            Add Field
        </button>
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 10px;"
            (click)="onClick()"
        >
            Save
        </button>
        <button
            mat-raised-button
            fxFlex="30"
            style="margin-left: 10px;"
            color="primary"
            (click)="close()"
        >
            cancel
        </button>
    </div>
</form>
