:host {
    .content {
        form {
            width: 100%;
            // max-width: 1200px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}

table {
    width: 100%;
}
.hide {
    display: none;
}
/* mat-table */
mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.a1 {
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.a2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 32.5px;
    height: 32.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: blue;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.a1:hover {
    width: 300px;
    cursor: pointer;
}

.a1:hover input {
    display: block;
}

.a1:hover .fa {
    background: #07051a;
    color: white;
}
.nc {
    width: 300px !important;
}
.ns {
    display: block;
}
.custom-dialog-container .mat-dialog-container {
    padding: 0em;
}
