<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Role Board</span>
            </div>
            <div class="h1 mt-16">Roles</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <form
        class="mat-card mat-elevation-z4 p-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxFlex="1 0 auto"
        name="form"
    >
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            Hello world
            <button (click)="send()">Send Hello To All</button>
        </div>
        <input
            type="text"
            #userid
            appearance="outline"
            fxFlex="100"
            class="pr-4"
        />
        <button (click)="sendtoone(userid.value)">
            Send Hello To User
        </button>
    </form>
    <!-- / CONTENT -->
</div>
