<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="Num">
            <th mat-header-cell *matHeaderCellDef>NUM</th>
            <td mat-cell *matCellDef="let element">
                1
            </td>
        </ng-container>
        <ng-container matColumnDef="Role_title">
            <th mat-header-cell *matHeaderCellDef>Role Title</th>
            <td mat-cell *matCellDef="let element">
                {{ element.Role_title }}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
                {{ element.Description }}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row
            *matFooterRowDef="['loading']"
            [ngClass]="{ hide: dataSource != null }"
        ></mat-footer-row>
        <mat-footer-row
            *matFooterRowDef="['noData']"
            [ngClass]="{
                hide: !(dataSource != null && dataSource.data.length == 0)
            }"
        ></mat-footer-row>
    </table>

    <mat-paginator
        [pageSizeOptions]="[15, 20]"
        showFirstLastButtons
    ></mat-paginator>
</div>
