<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Projects Board</span>
            </div>
            <div class="h1 mt-16">Create Project</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- body -->
    <div
        class="mb-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxLayout.gt-md="row"
    >
        <!-- REACTIVE FORM EXAMPLE -->

        <form
            class="mat-card mat-elevation-z4 p-24 mr-24"
            style="width: 100%;"
            fxLayout="column"
            fxLayoutAlign="start"
            fxFlex="1 0 auto"
            name="form"
            [formGroup]="form"
        >
            <!-- <div class="h2 mb-24">Reactive Form Example</div> -->

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Company (disabled)</mat-label>
                    <input matInput formControlName="company" />
                    <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                </mat-form-field>
            </div>

            <div
                fxLayout="row wrap"
                fxLayoutAlign="start center"
                fxFlex="1 0 auto"
            >
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Title</mat-label>
                    <textarea matInput formControlName="Title" required>
                    </textarea>
                    <mat-error>Title is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Project Director</mat-label>
                    <select
                        matNativeControl
                        required
                        style="padding: 0 auto;"
                        formControlName="responsable"
                    >
                        <option
                            *ngFor="let item of users"
                            value="{{ item.id }}"
                            >{{ item.name }}</option
                        >
                    </select>
                    <mat-error>Project Director is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Templates</mat-label>
                    <select
                        matNativeControl
                        required
                        style="padding: 0 auto;"
                        formControlName="template"
                    >
                        <option
                            *ngFor="let item of templates"
                            value="{{ item.id }}"
                            >{{ item.name }}</option
                        >
                    </select>
                    <mat-error>Template is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Teams</mat-label>
                    <select
                        matNativeControl
                        required
                        style="padding: 0 auto;"
                        formControlName="Team"
                        multiple
                    >
                        <option
                            *ngFor="let item of teams"
                            value="{{ item.id }}"
                            >{{ item.name }}</option
                        >
                    </select>
                    <mat-error>Team is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Project Overview</mat-label>
                    <textarea
                        matInput
                        formControlName="Projectoverview"
                        required
                    ></textarea>
                    <mat-error>Project Overview is required!</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Start Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="Startdate"
                        required
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <mat-error>Start Date is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>End Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker1"
                        formControlName="Enddate"
                        required
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error>End Date is required!</mat-error>
                </mat-form-field>
            </div>
            <div
                class="separator"
                style="margin-bottom: 20px; margin-top: 20px;"
            >
                Resources
                <button
                    mat-raised-button
                    color="primary"
                    fxFlex="5"
                    style="margin-left: 10px; size: 5px;"
                    (click)="addResources()"
                >
                    Add
                </button>
            </div>

            <div formArrayName="Resources" style="display: block;">
                <div
                    class="mat-card mat-elevation-z4 p-24 mr-24"
                    fxLayout="column"
                    fxLayoutAlign="start"
                    *ngFor="let section of getResources(form); let i = index"
                    [formGroupName]="i"
                    style="margin-top: 20px;"
                >
                    <!--  -->
                    <mat-form-field appearance="outline" fxFlex="30">
                        <mat-label>Resource</mat-label>
                        <select
                            matNativeControl
                            required
                            style="padding: 0 auto;"
                            formControlName="Name"
                        >
                            <option
                                *ngFor="let item of resoruces"
                                value="{{ item.id }}"
                                >{{ item.name }}</option
                            >
                        </select>
                        <mat-error>Resource is required!</mat-error>
                    </mat-form-field>
                    <!--  -->
                    <mat-form-field
                        appearance="outline"
                        fxFlex="20"
                        style="margin-right: 10px; margin-left: 10px;"
                    >
                        <mat-label>Number</mat-label>
                        <input matInput required formControlName="Number" />
                        <mat-error>Number is required!</mat-error>
                    </mat-form-field>
                    <!--  -->
                    <!--  -->
                    <mat-form-field
                        appearance="outline"
                        fxFlex="20"
                        class="pr-4"
                    >
                        <mat-label>Start Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="pickern"
                            formControlName="Startdate"
                            required
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="pickern"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #pickern></mat-datepicker>

                        <mat-error>Start Date is required!</mat-error>
                    </mat-form-field>
                    <!--  -->
                    <mat-form-field
                        appearance="outline"
                        fxFlex="20"
                        class="pl-4"
                    >
                        <mat-label>End Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker1n"
                            formControlName="Enddate"
                            required
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker1n"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker1n></mat-datepicker>
                        <mat-error>End Date is required!</mat-error>
                    </mat-form-field>
                    <button
                        mat-raised-button
                        color="warn"
                        (click)="removeResources(i)"
                        fxFlex="15"
                        style="
                            margin-left: 10px;
                            margin-top: 15px;
                            height: 100%;
                        "
                    >
                        Remove Section
                    </button>
                    <!--  -->
                </div>
            </div>
            <div
                fxLayout="row"
                fxFlex="1 0 auto"
                fxLayoutAlign="center"
                style="padding-top: 30px;"
            >
                <button
                    mat-raised-button
                    color="accent"
                    (click)="addSection()"
                    fxFlex="30"
                    style="margin-right: 10px;"
                >
                    Add Section
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    fxFlex="30"
                    style="margin-left: 10px;"
                    (click)="Send()"
                >
                    Save
                </button>

                <input
                    type="file"
                    #file
                    placeholder="Choose file"
                    (change)="uploadFile(file.files)"
                    style="display: none;"
                />

                <button
                    mat-raised-button
                    color="accent"
                    (click)="file.click()"
                    fxFlex="30"
                    style="margin-left: 20px;"
                >
                    Upload Image
                </button>
            </div>

            <br /><br /><br />
            <div formArrayName="sections" style="display: block;">
                <div
                    class="mat-card mat-elevation-z4 p-24 mr-24"
                    fxLayout="column"
                    fxLayoutAlign="start"
                    *ngFor="let section of getSections(form); let i = index"
                    [formGroupName]="i"
                    style="margin-top: 20px;"
                >
                    <br /><br />
                    <div class="separator">
                        {{ section.get("sectionTitle").value }}
                    </div>
                    <br /><br />
                    <mat-form-field appearance="outline" fxFlex="80">
                        <mat-label>Section Title</mat-label>
                        <input
                            matInput
                            formControlName="sectionTitle"
                            required
                        />
                        <mat-icon matSuffix class="disabled-text"
                            >domain</mat-icon
                        >
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="80">
                        <mat-label>Description</mat-label>
                        <input
                            matInput
                            formControlName="sectionDescription"
                            required
                        />
                        <mat-icon matSuffix class="disabled-text"
                            >domain</mat-icon
                        >
                    </mat-form-field>

                    <div
                        fxLayout="row"
                        fxFlex="1 0 auto"
                        fxLayoutAlign="center"
                        style="padding-top: 30px; display: inline;"
                    >
                        <mat-form-field appearance="outline" fxFlex="30">
                            <mat-label>Field Name</mat-label>
                            <input matInput #fieldtitle />
                            <mat-icon matSuffix class="disabled-text"
                                >domain</mat-icon
                            >
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            fxFlex="30"
                            style="
                                padding: 0 auto;
                                height: 80%;
                                margin-left: 10px;
                            "
                        >
                            <select
                                matNativeControl
                                required
                                style="padding: 0 auto;"
                                #typee
                            >
                                <option value="text">Text</option>
                                <option value="textarea">Text Area</option>
                                <option value="date">Date</option>
                            </select>
                        </mat-form-field>
                        <button
                            mat-raised-button
                            color="accent"
                            (click)="addField(i, fieldtitle.value, typee.value)"
                            fxFlex="15"
                            style="
                                margin-left: 10px;
                                margin-top: 15px;
                                height: 100%;
                            "
                        >
                            Add Field
                        </button>

                        <button
                            mat-raised-button
                            color="warn"
                            (click)="removeSection(i)"
                            fxFlex="15"
                            style="
                                margin-left: 10px;
                                margin-top: 15px;
                                height: 100%;
                            "
                        >
                            Remove Section
                        </button>
                    </div>
                    <div
                        formArrayName="Fields"
                        fxLayout="column"
                        fxLayoutAlign="start"
                    >
                        <div
                            fxLayout="row"
                            fxFlex="1 0 auto"
                            fxLayoutAlign="center"
                            style="padding-top: 30px; display: inline;"
                            [formGroupName]="j"
                            *ngFor="
                                let field of getField(section);
                                let j = index
                            "
                        >
                            <mat-form-field
                                appearance="outline"
                                fxFlex="20"
                                class="pr-4"
                            >
                                <mat-label>Field Title</mat-label>
                                <input
                                    formControlName="Title"
                                    matInput
                                    required
                                />
                                <mat-icon matSuffix class="secondary-text"
                                    >account_circle</mat-icon
                                >
                                <mat-error>Field Title is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                fxFlex="60"
                                class="pl-4"
                                *ngIf="field.get('Type').value == 'text'"
                            >
                                <mat-label>Value</mat-label>
                                <input
                                    formControlName="Value"
                                    matInput
                                    required
                                />
                                <mat-icon matSuffix class="secondary-text"
                                    >account_circle</mat-icon
                                >
                                <mat-error>Value is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                fxFlex="60"
                                class="pl-4"
                                *ngIf="field.get('Type').value == 'textarea'"
                            >
                                <mat-label>Value</mat-label>
                                <textarea
                                    matInput
                                    formControlName="Value"
                                    required
                                ></textarea>
                                <mat-error>Value is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                fxFlex="60"
                                class="pl-4"
                                *ngIf="field.get('Type').value == 'date'"
                            >
                                <mat-label> Date Value</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="picker2"
                                    formControlName="Value"
                                    required
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker2"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error> Date is required!</mat-error>
                            </mat-form-field>

                            <button
                                mat-raised-button
                                color="warn"
                                (click)="removeField(j, i)"
                                fxFlex="20"
                                style="
                                    margin-left: 10px;
                                    margin-top: 15px;
                                    height: 100%;
                                "
                            >
                                Remove Field
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required />
                    <mat-icon matSuffix class="secondary-text"
                        >location_city</mat-icon
                    >
                    <mat-error>City is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="34" class="px-8">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" required />
                    <mat-icon matSuffix class="secondary-text"
                        >location_city</mat-icon
                    >
                    <mat-error>State is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Postal Code</mat-label>
                    <input
                        matInput
                        #postalCode
                        value="94043"
                        formControlName="postalCode"
                        maxlength="5"
                        required
                    />
                    <mat-icon matSuffix class="secondary-text"
                        >markunread_mailbox</mat-icon
                    >
                    <mat-hint align="end"
                        >{{ postalCode.value.length }} / 5</mat-hint
                    >
                    <mat-error>Postal Code is required!</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" required>
                        <mat-option [value]="'United States of America'">
                            United States of America
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                        <mat-option [value]="'Russia'">
                            Russia
                        </mat-option>
                        <mat-option [value]="'China'">
                            China
                        </mat-option>
                        <mat-option [value]="'Japan'">
                            Japan
                        </mat-option>
                        <mat-option [value]="'Turkey'">
                            Turkey
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text"
                        >outlined_flag</mat-icon
                    >
                    <mat-error>Country is required!</mat-error>
                </mat-form-field>
            </div> -->
        </form>
        <!-- / REACTIVE FORM EXAMPLE -->
    </div>
    <!-- <div class="mat-card form-errors-model p-24 mat-elevation-z4">
        <div class="h2 mb-24">Reactive Form Model</div>
        <pre><code>{{form.getRawValue() | json}}</code></pre>
    </div> -->
</div>
