<form
    class="mat-card mat-elevation-z4 p-24"
    fxLayout="column"
    fxLayoutAlign="start"
    fxFlex="1 0 auto"
    name="form"
    [formGroup]="form"
>
    <div class="h2 mb-24" *ngIf="data['type'] == 'edit'">Edit Risk</div>
    <div class="h2 mb-24" *ngIf="data['type'] == 'create'">Create Risk</div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Company (disabled)</mat-label>
            <input matInput formControlName="company" />
            <mat-icon matSuffix class="disabled-text">domain</mat-icon>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required>
            </textarea>
            <mat-error>Description is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Action</mat-label>
            <textarea matInput formControlName="action" required> </textarea>
            <mat-error>Action is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Projects</mat-label>
            <select
                matNativeControl
                required
                style="padding: 0 auto;"
                formControlName="projectid"
            >
                <option *ngFor="let item of projects" value="{{ item.id }}">{{
                    item.title
                }}</option>
            </select>
            <mat-error>Project is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Impact</mat-label>
            <textarea matInput formControlName="impact" required> </textarea>
            <mat-error>impact is required!</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Probability</mat-label>
            <textarea matInput formControlName="probability" required>
            </textarea>
            <mat-error>Probability is required!</mat-error>
        </mat-form-field>
    </div>
    <a class="forgot-password">
        {{ error }}
    </a>
    <br />
    <br />
    <div
        fxLayout="row"
        fxFlex="1 0 auto"
        fxLayoutAlign="center"
        style="padding-top: 30px;"
    >
        <button
            mat-raised-button
            color="primary"
            fxFlex="30"
            style="margin-right: 10px;"
            (click)="onClick()"
        >
            Save
        </button>
        <button
            mat-raised-button
            fxFlex="30"
            style="margin-left: 10px;"
            color="primary"
            (click)="close()"
        >
            cancel
        </button>
    </div>
</form>
