<div id="orders" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-sm-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                    >Actions</span
                >
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->

            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="orders-table"
                #table
                [dataSource]="dataSource"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->

                <!-- Reference Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            {{ order.name }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Description</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.description }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Action</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            <button
                                *ngIf="!order.verfied"
                                mat-button
                                color="accent"
                                (click)="verfie(order.id, true)"
                            >
                                Verfie
                            </button>
                            <button
                                *ngIf="order.verfied"
                                mat-button
                                color="accent"
                                (click)="verfie(order.id, false)"
                            >
                                Unverfie
                            </button>
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let order; columns: displayedColumns"
                    class="order"
                    matRipple
                >
                </mat-row>
            </mat-table>
            <mat-paginator
                [pageSizeOptions]="[5, 25, 100]"
                showFirstLastButtons
            ></mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
